@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #000;
}
body::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/hero-img.jpg");
    background-position: center;
    opacity: 0.5;
}
.form-wrapper{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 430px;
    padding: 60px;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    background: rgba(0,0,0,0.75);
}
nav{
    position: fixed;
    padding: 25px 60px ;
    z-index: 1;
}
nav a img{
    width: 160px ;
}
.form-wrapper h2{
    color: #fff;
    font-size:  2rem;
}
.form-wrapper form{
    margin: 25px 0 60px;
}
form .form-control{
    height: 50px;
    margin-bottom: 16px;
    position: relative;
}
.form-control input{
    height: 100%;
    width: 100%;
    background: #333;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 4px;
    padding: 0 20px;
}
.form-control label{
    position: absolute;
    left: 20px;
    top: 50%;
    color: #fff;
    pointer-events: none;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid) ~ label{
    font-size: 0.75rem;
    transform: translateY(-130%);
} 
.form-control input:is(:focus, :valid){
    padding: 16px 20px 0 ;
    background: #444;
}
form button{
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    border: none;
    color: #fff;
    background: #e50914;
    font-weight: 500;
    border-radius: 4px;
    margin: 25px 0 10px ;
    outline: none;
    transition: 0,1s ease;
}
form button:hover{
    background: #c40812;
}
form .form-help{
    display: flex;
    justify-content: space-between;
}
form .remember-me{
    display: flex;
}
form .remember-me input{
    margin-right: 5px;
    accent-color: #b3b3b3;
}
form .form-help :where(label,a){
    font-size: 0.9rem;
}
.form-wrapper :where(label,p,small,a){
    color:#fff;
}
.form-wrapper p a{
    color: #fff;
}
.form-wrapper small{
    display: block;
    margin-top: 15px;
}
.form-wrapper a{
    text-decoration: none;
}
.form-wrapper small a{
    color: #0071eb;
}
.form-wrapper a:hover{
    text-decoration: underline;
}





